* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
}


nav .logo {
    width: 80px;
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}
nav ul li a{
    text-decoration: none;
    color: #0a0a0a;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #0a0a0a;
    transition: width 0.3s;
}


nav ul li a:hover::after{
    width: 50%;
}



nav ul{
    cursor: pointer;
}
